@use '@material/button/mdc-button';
@use '@material/button';

@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/textfield/mixins";
@include textfield.core-styles;

$font: 'Poppins', sans-serif;
$xl-letters: 48px;
$lg-letters: 32px;
$md-letters: 16px;
$sm-letters: 14px;
$xs-letters: 12px;
$bold: 600;
$normal: 400;
$primary-color: #222F3E;
$secondary-color: #8395A7;
$tertiary-color: #6C5DD3;
$quaternary-color: #576574;
$quinary-color: #3345D7;
$facebook-color: #3a559f;
$white-color: #fff;
$google-border-color: #e6edf3;
$linkedin-color: #0077b7;
$senary-color: #354BD4;
$dashboard-color: #f4f5f7;
$months_color: #1a7de0;
$subtitle-color: #ee5253;

body{
  	margin: 0;
  	padding: 0;
	display: flex;
  	height: 100vh;
  	font-family: $font;
}

ul, li{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
	text-decoration: none;
}

/*** Estilos para index.html ***/

.slider-section{
	width: 60%;
	height: 100%;
}

.slider{
    width: 100%;
    height: 100%;
    position: relative;
	&__logo-container{
		display: flex;
		justify-content: center;
	}
	&__logo{
    	position: absolute;
    	top: 50px;
    	z-index: 1;
    	margin: 0px auto;
	}
	&__images-list{
		width: 100%;
		height: 100%;
	}
	&__img-item{
		width: 100%;
		height: 100%;
		position: absolute;
		overflow: hidden;
		opacity: 0;
		transition: opacity .5s;
	}
	&__img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		background-position: center;
	}
	&__menu{
		display: flex;
		justify-content: center;
		position: relative;
		bottom: 100px;
	}
	&__menu-button{
		padding: 8px;
		border-radius: 50%;
		display: inline-block;
		background-color: white;
		margin-right: 10px;
	}
	&__img-item:first-child{
		opacity: 1;
	}
	&__img-item:target{
		opacity: 1;
	}
}

.form-section{
	width: 47%;
	height: 100%;
  	display: flex;
  	justify-content: center;
  	align-items: center;
}

.signin-form{
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	&__text-container{
		width: 80%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
  	}
  	&__title{
		margin-bottom: 0;
		color: $primary-color;
		font-size: $lg-letters;
  	}
  	&__information{
		margin: 10px 0 30px;
		color: $secondary-color;
		font-size: $md-letters;
  	}
  	&__buttons-container{
	  width: 80%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 12px;
  	}
  	&__form-container{
	  	width: 80%;
	  	display: flex;
	  	flex-direction: column;
  	}
  	&__forgot-password{
	  	color: $tertiary-color;
	  	font-size: $md-letters;
	  	text-align: right;
	  	margin: 15px 0;
	  	text-decoration: none;
  	}
  	&__signin-button{
	  	width: 275px;
	  	@include button.height(50px);
	  	margin: 5px auto 0;
	  	@include button.container-fill-color($quinary-color);
	  	@include button.shape-radius(70%);
  	}
  	&__signin-button-label{
	  	color: $white-color;
	  	text-transform: none;
	  	font-family: $font;
	  	font-size: $sm-letters;
	  	font-weight: $bold;
  	}
  	&__registration-container{
	  	margin-top: 40px;
  	}
  	&__registration-text{
		display: inline-block;
		font-size: $md-letters;
		color: $quaternary-color;
  	}
  	&__registration-link{
		text-decoration: none;
		font-size: $md-letters;
		color: $quinary-color;
  }
}

.social-button{
  	@include button.shape-radius(10px);
  	@include button.height(43px);
  	width: 150px;
  	&--facebook{
	  	@include button.container-fill-color($facebook-color);
	  	margin-right: 10px;
  	}
  	&--google{
	  	@include button.container-fill-color($white-color);
	  	border: 2px solid $google-border-color;
	  	margin-right: 10px;
  	}
  	&--linkedin{
	  	@include button.container-fill-color($linkedin-color);
  	}
}

.field{
	margin-top: 20px;
	width: 100%;
	height: 50px;
	font-family: $font;
	@include textfield.label-color($secondary-color);
	@include textfield.focused-outline-color($secondary-color);
	&__label{
	  font-family: $font;
	}
	&__input{
	  @extend .field__label;
	}
}

.helper{
  font-family: $font;
}

/*** Estilos para home.html ***/

.container{
	width: 100%;
	height: 100%;
	display: flex;
}

.menu{
	width: 24%;
	height: 100%;
	transition: .5s;
	&.is-active{
		width: 8%;
	}
	&__container{
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__items{
		margin: 10px;
		padding: 20px 10px;
		font-size: $sm-letters;
		border-radius: 10px;
		display: flex;
		align-items: center;
		cursor: pointer;
		&.is-active{
			padding: 20px 13px;
		}
		&.submenu{
			display: none;
			&.is-active{
				padding: 0px 13px;
				display: block;
			}
		}
		&:nth-child(2){
			font-family: $font;
			font-size: $lg-letters;
			font-weight: $bold;
		}
		&:nth-child(3){
			background-color: $tertiary-color;
			color: $white-color;
		}
		&:hover{
			color: $tertiary-color;
		}
		&:nth-child(3):hover{
			color: $white-color;
		}
	}
	&__up-items &__items:first-child{
		font-family: $font;
		font-size: $lg-letters;
		font-weight: $bold;
	}
	&__item-icon{
		margin: 0 10px;
	}
	&__item-text{
		margin: 0;
		&.is-active{
			display: none;
		}
	}
}

.main-container{
	max-width: 100%;
	height: 100%;
	overflow: auto;
	background-color: $dashboard-color;
}

.bar{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $white-color;
	&__search-field{
		width: 70%;
		height: 80%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-left: 10px;
	}
	&__input{
		height: 90%;
		width: 90%;
		margin-left: 10px;
		border: none;
		font-family: $font;
	}
	&__input::placeholder{
		font-family: $font;
	}
	&__input:focus{
		outline: none;
	}
	&__usermenu{
		width: 30%;
		height: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-right: 5px;
	}
	&__user-icon{
		height: 20px;
		margin: 0;
		&--picture{
			height: 30px;
		}
		&--arrow{
			height: 10px;
			transition: .3s;
			&.is-active{
				transform: rotate(180deg);
			}
		}
	}
}

.dashboard{
	width: 90%;
	margin: 60px;
	&__grettings{
		font-size: $lg-letters;
		margin: 0;
		color: $primary-color;
	}
	&__introduction{
		width: 100%;
		height: 100px;
		display: flex;
		justify-content: space-between;
	}
	&__title{
		font-size: $xl-letters;
		margin: 0;
		color: $primary-color;
	}
	&__course-notes{
		display: flex;
		align-items: center;
	}
	&__calendar{
		position: relative;
		width: 55px;
		height: 55px;
	}
	&__date-day{
		position: absolute;
		top: -30px;
		font-size: $lg-letters;
		font-weight: $bold;
		left: 10px;
		color: $primary-color;
	}
	&__date-month{
		font-size: $sm-letters;
		position: absolute;
		bottom: -2px;
		right: 6px;
		color: $primary-color;
	}
	&__calendar-text{
		height: 55px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__course-text{
		margin: 0;
		font-size: $sm-letters;
		color: $primary-color;
		margin-left: 5px;
	}
	&__course--title{
		color: #ee5556;
		font-weight: $bold;
	}
	&__stats{
		width: 100%;
		height: 200px;
		background-color: $white-color;
		border-radius: 20px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	&__detail-courses-container{
		width: 80px;
		height: 120px;
		display: flex;
		flex-direction: column;
		align-items: center;
		&:last-child{
			width: 300px;
			border-left: 2px solid $secondary-color;
			flex-direction: row;
			justify-content: center;
			padding-left: 40px;
		}
	}
	&__detail-courses-number{
		font-weight: $bold;
		font-size: $xl-letters;
		color: #222F3E;
		margin: 0;
		text-align: center;
	}
	&__detail-courses-text{
		color: #222F3E;
		margin: 0;
		text-align: center;
		line-height: 16px;
		font-size: $sm-letters;
	}
	&__profits-options-container{
		width: 100%;
		height: 500px;
		margin: 30px 0;
		display: flex;
		justify-content: space-between;
	}
	&__profits{
		width: 65%;
		height: 100%;
		background-color: $white-color;
		border-radius: 20px;
		overflow: auto;
	}
	&__graphic{
		width: 100%;
		height: 70%;
	}




	&__months{
		width: 100%;
		height: 30%;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		overflow: auto;
		&::-webkit-scrollbar {
			width: 10px;
			height: 10px;
		}
		&::-webkit-scrollbar-thumb {
			background: $tertiary-color;
			border-radius: 5px;
		}
		&::-webkit-scrollbar-thumb:hover {
			background: $months_color;
			box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
		}
	}
	&__month-card{
		border: 2px solid $secondary-color;
		border-radius: 20px;
		margin: 0 10px;
		padding: 10px 20px;
	}
	&__month-text-card{
		font-size: $sm-letters;
		color: $months_color;
		font-weight: $bold;
		margin: 0;
	}
	&__profit{
		font-size: $lg-letters;
		margin: 0;
	}
	&__options-container{
		width: 35%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;
	}
	&__option{
		width: 86%;
		height: 100px;
		background-color: $white-color;
		border-radius: 20px;
		display: flex;
		align-items: center;
		padding: 15px;
		box-sizing: border-box;
		&:nth-child(2){
			padding-left: 25px;
		}
		&:hover{
			box-shadow:
			  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
			  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
			  0 12.5px 10px rgba(0, 0, 0, 0.035),
			  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
			  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
			  0 100px 80px rgba(0, 0, 0, 0.07)
			;
		}
	}
	&__option-text{
		color: $quaternary-color;
		font-size: $sm-letters;
		margin-left: 10px;
		line-height: 18px;
		font-weight: $bold;
	}
	&__others-container{
		width: 100%;
		margin-top: 60px;
	}
	&__others-title{
		font-size: $lg-letters;
		color: #222F3E;
		font-weight: $bold;
	}
	&__other-course-container{
		display: flex;
	}
	&__other-course-video{
		margin-left: -8px;
		width: 50%;
		height: 40%;
	}
	&__other-course-text-container{
		width: 50%;
	}
	&__other-course-button{
		padding: 18px 66px;
		border-radius: 40px;
		background-color: $white-color;
		color: $primary-color;
		margin-top: 10px;
		border: 1px solid white;
		font-family: $font;
		font-weight: $bold;
	}
}

@media screen and (max-width: 768px){
	body{
		display: block;
	}
	
	.slider-section{
		width: 100%;
		height: 35%;
	} 
	
	.form-section{
		width: 100%;
		height: 65%;
	}

	.bar__usermenu {
		width: 60%;
	}

	.menu.is-active{
		width: 11%;
	}
	
	.menu__up-items .menu__button:first-child{
		font-size: 25px;
	}

	.dashboard{
		margin: 38px;
		&__grettings{
			font-size: 16px;
		}
		&__introduction{
			align-items: center;
		}
		&__title{
			font-size: 34px;
		}
		&__course-text{
			font-size: 10px;
		}
		&__detail-courses-container {
			justify-content: center;
		}
		&__detail-courses-number {
			font-size: 25px;
		}
		&__detail-courses-text {
			font-size: 11px;
		}
		&__detail-courses-container:last-child {
			width: 210px;
			border-left: none;
			padding-left: 0px;
		}
		&__profits{
			width: 100%;
		}
		&__profits-options-container{
			flex-direction: column;
			height: 700px;
		}
		&__options-container{
			width: 100%;
			height: 400px;
			flex-direction: row;
			flex-wrap: wrap;
		}
		&__option{
			width: 48%;
		}	
	}
}

.bar__help{
	position: relative;
}

.bar__notifications{
	position: relative;
}

.bar__user{
	position: relative;
}

.bar_submenu{
	position: absolute;
	right: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: $white-color;
	box-shadow:		0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  					0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  					0 12.5px 10px rgba(0, 0, 0, 0.035),
  					0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  					0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  					0 100px 80px rgba(0, 0, 0, 0.07);
	padding: 30px;
	z-index: 1;
	opacity: 0;
	transition: opacity .3s;
}

.bar__help-submenu-container{
	display: flex;
}

.bar__help-submenu-container.is-active{
	opacity: 1;
}

.bar__help-submenu-list-container{
	width: 170px;
}

.bar__help-submenu-title{
	font-weight: $bold;
	font-size: $sm-letters;
	margin-top: 0;
}

.bar__help-submenu-title--first{
	color: $tertiary-color;
}

.bar__help-submenu-title--second{
	color: $subtitle-color;
}

.bar__help-submenu-link{
	height: 40px;
	font-size: $xs-letters;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: $quaternary-color;
}

.bar__help-submenu-icon{
	margin-right: 20px;
}

.bar__notifications-submenu.is-active{
	opacity: 1;
}

.bar__user-submenu.is-active{
	opacity: 1;
}