@use '@material/button/mdc-button';
@use '@material/button';

@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/textfield/mixins";
@include textfield.core-styles;

$font: 'Poppins', sans-serif;
$xl-letters: 48px;
$lg-letters: 32px;
$md-letters: 16px;
$sm-letters: 14px;
$bold: 600;
$normal: 400;
$primary-color: #222F3E;
$secondary-color: #8395A7;
$tertiary-color: #6C5DD3;
$quaternary-color: #576574;
$quinary-color: #3345D7;
$facebook-color: #3a559f;
$white-color: #fff;
$google-border-color: #e6edf3;
$linkedin-color: #0077b7;
$senary-color: #354BD4;
$dashboard-color: #f4f5f7;

body{
  	margin: 0;
  	padding: 0;
	display: flex;
  	height: 100vh;
  	font-family: $font;
}

ul, li{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

.slider-section{
	width: 60%;
	height: 100%;
}

.slider{
    width: 100%;
    height: 100%;
    position: relative;
	&__logo-container{
		display: flex;
		justify-content: center;
	}
	&__logo{
    	position: absolute;
    	top: 50px;
    	z-index: 1;
    	margin: 0px auto;
	}
	&__images-list{
		width: 100%;
		height: 100%;
	}
	&__img-item{
		width: 100%;
		height: 100%;
		position: absolute;
		overflow: hidden;
		opacity: 0;
		transition: opacity .5s;
	}
	&__img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		background-position: center;
	}
	&__menu{
		display: flex;
		justify-content: center;
		position: relative;
		bottom: 100px;
	}
	&__menu-button{
		padding: 8px;
		border-radius: 50%;
		display: inline-block;
		background-color: white;
		margin-right: 10px;
	}
	&__img-item:first-child{
		opacity: 1;
	}
	&__img-item:target{
		opacity: 1;
	}
}

.form-section{
	width: 47%;
	height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__text-container{
		width: 80%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
  }
  &__title{
		margin-bottom: 0;
		color: $primary-color;
		font-size: $lg-letters;
  }
  &__information{
		margin: 10px 0 30px;
		color: $secondary-color;
		font-size: $md-letters;
  }
  &__buttons-container{
	  width: 80%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 12px;
  }
  &__form-container{
	  width: 80%;
	  display: flex;
	  flex-direction: column;
  }
  &__forgot-password{
	  color: $tertiary-color;
	  font-size: $md-letters;
	  text-align: right;
	  margin: 15px 0;
	  text-decoration: none;
  }
  &__signin-button{
	  width: 275px;
	  @include button.height(50px);
	  margin: 5px auto 0;
	  @include button.container-fill-color($quinary-color);
	  @include button.shape-radius(70%);
  }
  &__signin-button-label{
	  color: $white-color;
	  text-transform: none;
	  font-family: $font;
	  font-size: $sm-letters;
	  font-weight: $bold;
  }
  &__registration-container{
	  margin-top: 40px;
  }
  &__registration-text{
		display: inline-block;
		font-size: $md-letters;
		color: $quaternary-color;
  }
  &__registration-link{
		text-decoration: none;
		font-size: $md-letters;
		color: $quinary-color;
  }
}

.social-button{
  @include button.shape-radius(10px);
  @include button.height(43px);
  width: 150px;
  &--facebook{
	  @include button.container-fill-color($facebook-color);
	  margin-right: 10px;
  }
  &--google{
	  @include button.container-fill-color($white-color);
	  border: 2px solid $google-border-color;
	  margin-right: 10px;
  }
  &--linkedin{
	  @include button.container-fill-color($linkedin-color);
  }
}

.field{
	margin-top: 20px;
	width: 100%;
	height: 50px;
	font-family: $font;
	@include textfield.label-color($secondary-color);
	@include textfield.focused-outline-color($secondary-color);
	&__label{
	  font-family: $font;
	}
	&__input{
	  @extend .field__label;
	}
}

.helper{
  font-family: $font;
}

@media screen and (max-width: 768px){
	body{
		display: block;
	}
	.slider-section{
		width: 100%;
		height: 35%;
	} 
	
	.form-section{
		width: 100%;
		height: 65%;
	}
}

.menu{
	width: 22%;
	height: 100%;
	transition: .3s;
	&.is-active{
		width: 6%;
	}
	&__container{
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__items{
		margin: 10px;
		padding: 20px 10px;
		font-size: $sm-letters;
		border-radius: 10px;
		display: flex;
		align-items: center;
		cursor: pointer;
		&.is-active{
			padding: 20px 13px;
		}
		&.submenu{
			display: none;
			&.is-active{
				padding: 0px 13px;
				display: block;
			}
		}
		&:nth-child(2){
			font-family: $font;
			font-size: $lg-letters;
			font-weight: $bold;
		}
		&:nth-child(3){
			background-color: $tertiary-color;
			color: $white-color;
		}
		&:hover{
			color: $tertiary-color;
		}
		&:nth-child(3):hover{
			color: $white-color;
		}
	}
	&__up-items &__items:first-child{
		font-family: $font;
		font-size: $lg-letters;
		font-weight: $bold;
	}
	&__item-icon{
		margin: 0 10px;
	}
	&__item-text{
		margin: 0;
		&.is-active{
			display: none;
		}
	}
}

.container{
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: $dashboard-color;
}

.bar{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $white-color;
	&__search-field{
		width: 75%;
		height: 80%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-left: 10px;
	}
	&__input{
		height: 90%;
		width: 90%;
		margin-left: 10px;
		border: none;
		font-family: $font;
	}
	&__input::placeholder{
		font-family: $font;
	}
	&__input:focus{
		outline: none;
	}
	&__usermenu{
		width: 25%;
		height: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	&__user-icon{
		height: 20px;
		margin: 0;
	}
	&__user-icon.picture{
		height: 30px;
	}
	&__user-icon.arrow{
		height: 10px;
	}
}

.dashboard{
	width: 90%;
	margin: 60px;
	&__grettings{
		font-size: $lg-letters;
		margin: 0;
		color: $primary-color;
	}
	&__introduction{
		width: 100%;
		height: 100px;
		display: flex;
		justify-content: space-between;
	}
	&__title{
		font-size: $xl-letters;
		margin: 0;
		color: $primary-color;
	}
	&__course-notes{
		display: flex;
		align-items: center;
	}
	&__calendar{
		position: relative;
		width: 55px;
		height: 55px;
	}
	&__date-day{
		position: absolute;
		top: -30px;
		font-size: $lg-letters;
		font-weight: $bold;
		left: 10px;
		color: $primary-color;
	}
	&__date-month{
		font-size: $sm-letters;
		position: absolute;
		bottom: -2px;
		right: 6px;
		color: $primary-color;
	}
	&__calendar-text{
		height: 55px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__course-text{
		margin: 0;
		font-size: $sm-letters;
		color: $primary-color;
		margin-left: 5px;
	}
	&__course--title{
		color: #ee5556;
		font-weight: $bold;
	}
	&__stats{
		width: 100%;
		height: 200px;
		background-color: $white-color;
		border-radius: 20px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	&__detail-courses-container{
		width: 80px;
		height: 120px;
		display: flex;
		flex-direction: column;
		align-items: center;
		&:last-child{
			width: 300px;
			border-left: 2px solid $secondary-color;
			flex-direction: row;
			justify-content: center;
			padding-left: 40px;
		}
	}
	&__detail-courses-number{
		font-weight: $bold;
		font-size: $xl-letters;
		color: #222F3E;
		margin: 0;
		text-align: center;
	}
	&__detail-courses-text{
		color: #222F3E;
		margin: 0;
		text-align: center;
		line-height: 16px;
		font-size: $sm-letters;
	}
	&__profits-options-container{
		width: 100%;
		height: 500px;
		margin: 30px 0;
		display: flex;
		justify-content: space-between;
	}
	&__profits{
		width: 80%;
		height: 100%;
		background-color: $white-color;
		border-radius: 20px;
		overflow: auto;
	}
	&__graphic{
		width: 100%;
		height: 70%;
	}
	&__months{
		width: 100%;
		height: 30%;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		overflow: auto;
	}
	&__month-card{
		border: 2px solid $secondary-color;
		border-radius: 20px;
		margin: 0 10px;
		padding: 10px 20px;
	}
	&__month-text-card{
		font-size: $sm-letters;
		color: $quinary-color;
		font-weight: $bold;
		margin: 0;
	}
	&__profit{
		font-size: $lg-letters;
		margin: 0;
	}






	&__options-container{
		width: 20%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;
	}
	&__option{
		width: 90%;
		height: 100px;
		background-color: $white-color;
		border-radius: 20px;
		display: flex;
		align-items: center;
		padding: 15px;
		box-sizing: border-box;
		&:nth-child(2){
			padding-left: 25px;
		}
	}
	&__option-text{
		color: $quaternary-color;
		font-size: $sm-letters;
		margin-left: 10px;
		line-height: 18px;
		font-weight: $bold;
	}
	&__others-container{
		width: 100%;
		margin-top: 60px;
	}
	&__others-title{
		font-size: $lg-letters;
		color: #222F3E;
		font-weight: $bold;
	}
	&__other-course-container{
		display: flex;
	}
	&__other-course-video{
		margin-left: -8px;
	}
	&__other-course-button{
		padding: 18px 66px;
		border-radius: 40px;
		background-color: $white-color;
		color: $primary-color;
		margin-top: 10px;
		border: 1px solid white;
		font-family: $font;
		font-weight: $bold;
	}


}